body {
  margin: 0;
  padding: 0;
}
header {
  color: whitesmoke;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgb(32, 201, 46);
  margin: 0;
}
h1 {
  margin: 0;
}
.sample {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sample img {
  width: 20%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.grid img {
  width: 20%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 2px;
  border-radius: 10px;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.result {
  margin: 10px 10px auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid button {
  margin: 0;
  padding: 0;
}
